## Benin EDA

### Import Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

### Data Loading and Understanding

#### Data Import

In [2]:
#load the dataset
df =pd.read_csv('../data/benin-malanville.csv')
#show the first top 5 rows
print(df.head(5))

          Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0  2021-08-09 00:01 -1.2 -0.2 -1.1   0.0   0.0  26.2  93.4  0.0     0.4
1  2021-08-09 00:02 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.6  0.0     0.0
2  2021-08-09 00:03 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.7  0.3     1.1
3  2021-08-09 00:04 -1.1 -0.1 -1.0   0.0   0.0  26.2  93.3  0.2     0.7
4  2021-08-09 00:05 -1.0 -0.1 -1.0   0.0   0.0  26.2  93.3  0.1     0.7

   WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0      0.1  122.1      0.0  998         0            0.0   26.3   26.2
1      0.0    0.0      0.0  998         0            0.0   26.3   26.2
2      0.5  124.6      1.5  997         0            0.0   26.4   26.2
3      0.4  120.3      1.3  997         0            0.0   26.4   26.3
4      0.3  113.2      1.0  997         0            0.0   26.4   26.3

   Comments
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN

#### Data Understanding

In [3]:
#show the shape of the dataset
shape=df.shape
print("The shape of the dataset is: ",shape)
print("-----------------------------------------------------------------")
#show the columns of the dataset
columns=df.columns
print("The columns of the dataset are: ",columns)
print("-----------------------------------------------------------------")
#show the datatypes of the columns
dtypes=df.dtypes
print("The datatypes of the columns are: ",dtypes)
print("-----------------------------------------------------------------")

The shape of the dataset is:  (525600, 19)
-----------------------------------------------------------------
The columns of the dataset are:  Index(['Timestamp', 'GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS',
       'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation',
       'TModA', 'TModB', 'Comments'],
      dtype='object')
-----------------------------------------------------------------
The datatypes of the columns are:  Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object
-----------------------------------------------------------------

### EDA analysis

#### Data Overview

In [4]:
#dataset information

print("The information of the dataset is: ")
print(df.info())

The information of the dataset is:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB
None

In [5]:
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
print("Numeric columns in the dataset:")
print(numeric_cols)

Numeric columns in the dataset:
['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 'WS', 'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 'Cleaning', 'Precipitation', 'TModA', 'TModB', 'Comments']

#### Summary Statistics & Missing-Value Report

##### Summary Statistics

In [6]:
# Summary statistics of the dataset
summary = df.describe()
print("The summary statistics of the dataset are: ")
print(summary)
print("-----------------------------------------------------------------")
# random sample of the dataset
print("The random sample of the dataset is: ")
print(df.sample(5))

The summary statistics of the dataset are:
                 GHI            DNI            DHI           ModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      240.559452     167.187516     115.358961     236.589496
std       331.131327     261.710501     158.691074     326.894859
min       -12.900000      -7.800000     -12.600000       0.000000
25%        -2.000000      -0.500000      -2.100000       0.000000
50%         1.800000      -0.100000       1.600000       4.500000
75%       483.400000     314.200000     216.300000     463.700000
max      1413.000000     952.300000     759.200000    1342.300000

                ModB           Tamb             RH             WS  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      228.883576      28.179683      54.487969       2.121113
std       316.536515       5.924297      28.073069       1.603466
min         0.000000      11.000000       2.100000       0.000000
25%         0.000000      24.200000      28.800000       1.000000
50%         4.300000      28.000000      55.100000       1.900000
75%       447.900000      32.300000      80.100000       3.100000
max      1342.300000      43.800000     100.000000      19.500000

              WSgust        WSstdev             WD        WDstdev  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean        2.809195       0.473390     153.435172       8.582407
std         2.029120       0.273395     102.332842       6.385864
min         0.000000       0.000000       0.000000       0.000000
25%         1.300000       0.400000      59.000000       3.700000
50%         2.600000       0.500000     181.000000       8.600000
75%         4.100000       0.600000     235.100000      12.300000
max        26.600000       4.200000     360.000000      99.400000

                  BP       Cleaning  Precipitation          TModA  \
count  525600.000000  525600.000000  525600.000000  525600.000000
mean      994.197199       0.000923       0.001905      35.246026
std         2.474993       0.030363       0.037115      14.807258
min       985.000000       0.000000       0.000000       9.000000
25%       993.000000       0.000000       0.000000      24.200000
50%       994.000000       0.000000       0.000000      30.000000
75%       996.000000       0.000000       0.000000      46.900000
max      1003.000000       1.000000       2.500000      81.000000

               TModB  Comments
count  525600.000000       0.0
mean       32.471736       NaN
std        12.348743       NaN
min         8.100000       NaN
25%        23.600000       NaN
50%        28.900000       NaN
75%        41.500000       NaN
max        72.500000       NaN
-----------------------------------------------------------------
The random sample of the dataset is:
               Timestamp    GHI    DNI    DHI   ModA   ModB  Tamb    RH   WS  \
428597  2022-06-02 15:18  671.6  539.7  228.8  567.2  561.0  39.2  35.9  0.0
498883  2022-07-21 10:44  447.0   37.5  412.1  398.1  397.4  27.6  82.3  4.0
443170  2022-06-12 18:11   83.9   93.1   62.1   52.8   52.7  33.2  54.4  1.7
139565  2021-11-13 22:06   -1.9   -0.6   -1.8    0.0    0.0  24.2  73.5  1.2
213857  2022-01-04 12:18  324.1    1.5  318.9  319.6  310.7  26.6  26.0  4.2

        WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  \
428597     0.7      0.2  112.0      0.0  989         0            0.0   59.1
498883     5.6      0.8  259.6     15.0  997         0            0.0   48.2
443170     2.1      0.4  212.3      9.1  994         0            0.0   35.0
139565     1.6      0.3  221.6      2.5  993         0            0.0   22.9
213857     5.6      0.8  121.1     10.6  997         0            0.0   40.3

        TModB  Comments
428597   58.9       NaN
498883   42.5       NaN
443170   34.3       NaN
139565   22.0       NaN
213857   32.4       NaN

##### Missing-Value Report

In [7]:
#identifying the missing values with > 5% nulls
print(df.isna().sum()[df.isna().sum() > 0.05 * df.shape[0]])

Comments    525600
dtype: int64

#### Outlier Detection & Basic Cleaning

##### Looking for Outliers

In [8]:
# looking for outliers using  using z-score
selected_columns = ['GHI', 'DHI', 'DNI', 'ModA','ModB','WS', 'WSgust']
def detect_outliers(df, numeric_cols):
    # Calculate the z-scores of the numeric columns
    z_scores = np.abs(stats.zscore(df[numeric_cols]))
    threshold = 3
    outliers = (z_scores > threshold).any(axis=1)
    return outliers
outliers_z = detect_outliers(df, selected_columns)
print("The number of outliers in the dataset using z-score is: ", outliers_z.sum())

The number of outliers in the dataset using z-score is:  7740

##### Cleaning and Handling the dataset

In [9]:
# cleaning missing data
def clean_missing_data(df):
    # Drop columns with missing greater than 5% of their values
    missing_threshold = 0.05
    missing_cols = df.columns[df.isnull().mean() > missing_threshold]
    df_cleaned = df.drop(columns=missing_cols)
    return df_cleaned
df_cleaned = clean_missing_data(df)
print("The shape of the dataset after cleaning missing data is: ", df_cleaned.shape)

The shape of the dataset after cleaning missing data is:  (525600, 18)

In [10]:
# copy the cleaned dataset to the original dataset
df = df_cleaned

In [11]:
#imputing outliers
for col in selected_columns:
    df.loc[outliers_z, col] = df[col].median()
print("Outliers have been replaced with the median value of the respective column.")
print("===========================================")
print("Number of Outliers in the dataset after replacing outliers:")
outliers = detect_outliers(df, selected_columns)
print(outliers.sum())

Outliers have been replaced with the median value of the respective column.
===========================================
Number of Outliers in the dataset after replacing outliers:
3635

In [12]:
#df after cleaning and imputing
print("The shape of the dataset after cleaning and imputing is: ", df.shape)
outliers_z = detect_outliers(df, selected_columns)
print("_")
print("Number of Outliers in the dataset after replacing outliers:")
outliers = detect_outliers(df, selected_columns)
print(outliers.sum())

The shape of the dataset after cleaning and imputing is:  (525600, 18)
_
Number of Outliers in the dataset after replacing outliers:
3635

##### Exporting the cleaned dataset

In [13]:
# cleaned DataFrame to data/benin-malanville_clean.csv
df.to_csv('../data/benin-malanville_clean.csv', index=False)
print("The cleaned dataset has been saved to data/benin-malanville_clean.csv")

The cleaned dataset has been saved to data/benin-malanville_clean.csv